#### Create a pandas series having values 4, 7, -5, 3, NAN and their index as d, b, a, c, e

In [8]:
# Write a code here
import numpy as np
import pandas as pd

arr = np.array([4,7,-5,3,np.nan])
arr
pd.Series(arr, index=[*'dbace'])

d    4.0
b    7.0
a   -5.0
c    3.0
e    NaN
dtype: float64