<a id="data"> </a>
<html>
<body>

<h3>Understand the Data</h3><br>
1. Understand the problem statement and the data<br>
2. Cars dataset with features including make, model, year, engine, and other properties of the car used to predict its price

<ul>

</ul>  

</body>
</html>

In [2]:
# import pandas
import pandas as pd
import statistics
# read the data
data = pd.read_csv('cars.csv')
# check first five rows of data
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In order to learn about each attribute, it is always good for us to know the data type of each column

<a id="central_tendency"> </a>
<html>
<body>

<h3> Measure of Central Tendency</h3>
<h4>1. Mean</h4>

In [4]:
# calculate the average values

data.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

<html>
<body>

<h4>2. Mode</h4>

In [22]:
# filter the categorical variables from the data
df = pd.DataFrame()
for x in data.columns:
    if(data[x].dtype == object):
        df = pd.concat([df, data[x]],1)
    
df.mode()
# calculate the mode

C:\Users\tejas\AppData\Local\Temp\ipykernel_6768\2668522688.py:5: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  df = pd.concat([df, data[x]],1)
C:\Users\tejas\AppData\Local\Temp\ipykernel_6768\2668522688.py:5: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  df = pd.concat([df, data[x]],1)
C:\Users\tejas\AppData\Local\Temp\ipykernel_6768\2668522688.py:5: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  df = pd.concat([df, data[x]],1)
C:\Users\tejas\AppData\Local\Temp\ipykernel_6768\2668522688.py:5: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  df = pd.concat([df, data[x]],1)
C:\Users\tejas\AppData\Local\Temp\ipykernel_6768\2668522688.py:5: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  df = pd.concat([df, data[x]],1)
C:\Users\tejas\AppData\Local\Temp\ipykernel_6768\2668522688.py:5: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  df = pd.concat([df, data[x]],1)
C:\Users\tejas\AppData\Local\Temp\ipykernel_6768\2668522688.py:5: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  df = pd.concat([df, data[x]],1)
C:\Users\tejas\AppData\Local\Temp\ipykernel_6768\2668522688.py:5: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  df = pd.concat([df, data[x]],1)

,Make,Model,Engine Fuel Type,Transmission Type,Driven_Wheels,Market Category,Vehicle Size,Vehicle Style
0,Chevrolet,Silverado 1500,regular unleaded,AUTOMATIC,front wheel drive,Crossover,Compact,Sedan

<html>
<body>

<h4>3. Median</h4>

In [24]:
# calculate the median
data.median()

C:\Users\tejas\AppData\Local\Temp\ipykernel_6768\3746044487.py:2: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.median()

Year                 2015.0
Engine HP             227.0
Engine Cylinders        6.0
Number of Doors         4.0
highway MPG            26.0
city mpg               18.0
Popularity           1385.0
MSRP                29995.0
dtype: float64

<a id="dispersion"> </a>
<html>
<body>

<h3> Measure of Dispersion</h3>

<a id="variance"> </a>
<html>
<body>

<h4>1. Variance</h4>
<ul>

In [26]:
# calculate the variance
data.var()

C:\Users\tejas\AppData\Local\Temp\ipykernel_6768\3132450097.py:2: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.var()

Year                5.745246e+01
Engine HP           1.192286e+04
Engine Cylinders    3.170392e+00
Number of Doors     7.767168e-01
highway MPG         7.855278e+01
city mpg            8.078052e+01
Popularity          2.078947e+06
MSRP                3.613104e+09
dtype: float64

<a id="standard_deviation"> </a>
<html>
<body>

<h4>2. Standard Deviation</h4>

In [25]:
# calculate the standard deviation
data.std()

C:\Users\tejas\AppData\Local\Temp\ipykernel_6768\1326671377.py:2: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.std()

Year                    7.579740
Engine HP             109.191870
Engine Cylinders        1.780559
Number of Doors         0.881315
highway MPG             8.863001
city mpg                8.987798
Popularity           1441.855347
MSRP                60109.103604
dtype: float64